
@{
    ViewBag.Title = "BrumBrum";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<h2>BrumBrum</h2>
@{
    string[] cars = { "Volvo", " Audi", " Nissan", " Tesla", " Mazda" };
    <ul>
        @foreach (var car in cars)
        {
        <li>@car</li>
        }
    </ul>
}

